body {
  background-color: #e3d8bc;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.bgtabela_comparativa {
  background-color: #ffffff;
}

.txtpages {
  color: #000000;
  font-family: Arial, Verdana;
  font-size: 12px;
  font-weight: normal;
}

#creditos {
  padding-right: 47px;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: #e3d8bc;
  position: relative;
  right: -260px;
  top: -50px;
  z-index: 10000;
  width: 200px;
  height: 40px;
  text-align: right;
  color: black;
  padding-top: 16px;
}

#player-wrapper {
  position: relative;
  width: 766px;
  height: 750px;
}
/* Your personalized loading overlay structure */
#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3d8bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  z-index: 10;
  transition: opacity 0.5s ease; /* Fade-out transition */
}
#loader p {
  color: #4c7934;
}
.spinner {
  border: 4px solid #4c7934;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: #87a56f;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leonardo {
  text-decoration: none;
  color: #4c7934;
  font-weight: bold;
}
